<div class="tools">
  <% # = #link_to_remote "Delete", :url => exception, :method => :delete, :class => "util" %>
  <span class="pipe">|</span>
  <%= link_to_function "Close", "$('showpage').style.display='none';", :class => "util" %>
</div>
<div class="date">
  <%= exception.created_at.strftime("%A, %b %d, %Y at %l:%M %p") %>
</div>
<h1><%= exception.name %></h1>
<h2>Request</h2>
<% begin %>
  <%= textilize(exception.request) %>
<% rescue %>
 <%= simple_format(exception.request)%>
<% end %>
<h2>Backtrace</h2>
<%  begin %>
  <%= textilize(exception.message) %>
<% rescue %>
 <%= simple_format(exception.message)%>
<% end %>
<div id="backtrace">
  <%= exception.backtrace.gsub(/\n/,"<br/>") %>
</div>
<h2>Environment</h2>
<%   begin %>
  <%= textilize( exception.environment) %>
<% rescue %>
 <%= simple_format( exception.environment)%>
<% end %>